  @import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: 'PT Sans', sans-serif;;
  font-size: 21px;
  margin: 0px;
  color: #5b5b5b;

}
main {
    width: 1100px;
    height:1200px;
    position: relative;
    margin: auto;
    background-image: url(venus_screened_1372px.jpg);
    background-size: 150%;
    background-position: 50% 0px;
    background-repeat: no-repeat;
    padding: 18px;
}
h1 {
    background-color: #5f9ea0;
    color: #FFF;
}
h2 {
    font-size: 1.25rem;
}
.content {
    text-align: center;
    background-color: rgba(255, 255, 255, .72);
    position: relative;
    margin: auto;
    width: 855px;
    height: 1020px;
}
.grid-container {
    width: 750px;
    position: relative;
    margin: auto;
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.artist-cell {
    height: 200px;
    width: 100%;
    text-align: center;
}
.artist-name {
    font-weight: 500;
    border: 1px solid #808080;
    border-radius: 5px;
    color: #FFF;
    margin: 0px 0px 10px 0px;
    text-align: center;
    background-color: #5f9ea0;
}
.artist-caption {
    font-size: .9rem;/* 11.2*/
    margin: 0px;
}
img {
    box-shadow: 3px 3px 8px 0px gray;
    margin: 0px 0px 6px;
}
img:hover {

    border: 2px solid #50c6ca;
    box-shadow: 3px 3px 8px 0px gray;

}
a:link, a:active, a:visited {
    color:#3b797b;
}
a:hover {
    color:#50c6ca;
}